{% extends 'home/base.html' %}
{% block breadcrumb %}
<!-- Breadcrumb area Start -->
<div class="breadcrumb-area bg--white-6 pt--60 pb--70 pt-lg--40 pb-lg--50 pt-md--30 pb-md--40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Categories</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li class="current"><span>Shop Collections</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End -->
{% endblock breadcrumb %}
{% block body %}
<div class="shop-page-wrapper">
    <div class="container-fluid p-0">
        <div class="row g-0">
            {% for category in categories %}
            <div class="col-md-4">
                <div class="banner-box banner-type-3 banner-type-3-1 banner-hover-1">
                    <div class="banner-inner">
                        <div class="banner-image">
                            <img src="{{category.category_image.url}}" alt="Banner">
                        </div>
                        <div class="banner-info">
                            <p class="banner-title-1 lts-13 lts-lg-4 text-uppercase">{{category.short_caption}}</p>
                            <h2 class="banner-title-2"><strong>{{category.category}}</strong></h2>
                        </div>
                        <a class="banner-link banner-overlay" href="/search/{{category.category}}">Shop Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}