{% extends 'home/base.html' %}
{% block breadcrumb %}
<!-- Breadcrumb area Start -->
<div class="breadcrumb-area bg-white-6 pt--60 pb--70 pt-lg--40 pb-lg--50 pt-md--30 pb-md--40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Categories</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/">Home</a></li>
                    <li><a href="/categories">Categories</a></li>
                    <li class="current"><span>Shop Collections</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End -->
{% endblock breadcrumb %}
{% block body %}
<!-- Banner Start Here -->
<div class="banner-area">
    <div class="container-fluid p-0">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 px-2">
            {% for x in categories %}
            <div class="banner-box banner-type-2 banner-hover-2">
                <div class="banner-inner">
                    <div class="">
                        <img src="{{x.category_image.url}}" alt="Banner" class="rounded-3xl h-3/4">
                    </div>
                    <div class="banner-info" style="text-align: left;">
                        <a class="" href="/search/{{x.category}}">
                            <h2 class="text-4xl text-white sm:text-1xl mt-2 mb-10 text-left px-4 uppercase">
                                {{x.category}}
                            </h2>
                        </a>
                    </div>
                    <a class="banner-link banner-overlay" href="/search/{{x.category}}">Shop Now</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Banner End Here -->
{% endblock body %}