{% extends 'home/base.html' %}
{% block body %}
<div class="bg-black h-32"></div>
<div id="about" class="relative bg-white overflow-hidden">
    <div class="mw-full px-4 mx-auto">
        <div class="relative pb-8 bg-white">
            <div class="pt-1"></div>

            <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="sm:text-center lg:text-left">
                    <h2 class="my-6 text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">
                        Refund Policy
                    </h2>
                </div>
            </main>
        </div>
    </div>
   
</div>

{% endblock body %}