{% extends 'home/base.html' %}
{% block breadcrumb %}
<!-- Breadcrumb area Start -->
<!-- <div class="breadcrumb-area bg--white-6 pt--60 pb--70 pt-lg--40 pb-lg--50 pt-md--30 pb-md--40">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">{{search}}</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/">Home</a></li>
                    <li class="current"><span>Search</span></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
<!-- Breadcrumb area End -->
{% endblock breadcrumb %}
{% block body %}
<div class="shop-page-wrapper">
    <div class="container-fluid p-0">
        <div class="">
            <div class="mt-10 mb-10">
                <div class="shop-toolbar plr--75 plr-lg--30">
                    <div class="">
                        <div class="row align-items-center">
                            <div class="col-md-6 text-md-start text-center mb-sm--20">
                                <div class="shop-toolbar__left">
                                    <p class="product-pages">Showing 1–20 results</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="shop-toolbar__right">
                                    <a href="#" class="product-filter-btn shop-toolbar__btn">
                                        <span>Filters</span>
                                        <i></i>
                                    </a>
                                    <div class="product-ordering">
                                        <a href="#" class="product-ordering__btn shop-toolbar__btn">
                                            <span>Short By</span>
                                            <i></i>
                                        </a>
                                        <ul class="product-ordering__list">
                                            <li class="active"><a href="#">Sort by popularity</a></li>
                                            <li><a href="#">Sort by average rating</a></li>
                                            <li><a href="#">Sort by newness</a></li>
                                            <li><a href="#">Sort by price: low to high</a></li>
                                            <li><a href="#">Sort by price: high to low</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="advanced-product-filters">
                        <div class="product-filter">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-widget product-widget--price">
                                        <h3 class="widget-title">Price</h3>
                                        <ul class="product-widget__list">
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$20.00</span>
                                                    <span> - </span>
                                                    <span class="ammount">$40.00</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$40.00</span>
                                                    <span> - </span>
                                                    <span class="ammount">$50.00</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$50.00</span>
                                                    <span> - </span>
                                                    <span class="ammount">$60.00</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$60.00</span>
                                                    <span> - </span>
                                                    <span class="ammount">$80.00</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$80.00</span>
                                                    <span> - </span>
                                                    <span class="ammount">$100.00</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span class="ammount">$100.00</span>
                                                    <span> + </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-widget product-widget--brand">
                                        <h3 class="widget-title">Brands</h3>
                                        <ul class="product-widget__list">
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>Airi</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>Mango</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>Valention</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>Zara</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-widget product-widget--color">
                                        <h3 class="widget-title">Color</h3>
                                        <ul class="product-widget__list product-color-swatch">
                                            <li>
                                                <a href="shop-sidebar.html" class="product-color-swatch-btn blue">
                                                    <span class="product-color-swatch-label">Blue</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html" class="product-color-swatch-btn green">
                                                    <span class="product-color-swatch-label">Green</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html" class="product-color-swatch-btn pink">
                                                    <span class="product-color-swatch-label">Pink</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html" class="product-color-swatch-btn red">
                                                    <span class="product-color-swatch-label">Red</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html" class="product-color-swatch-btn grey">
                                                    <span class="product-color-swatch-label">Grey</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-widget product-widget--size">
                                        <h3 class="widget-title">Size</h3>
                                        <ul class="product-widget__list">
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>L</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>M</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>S</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>XL</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="shop-sidebar.html">
                                                    <span>XXL</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn-close"><i class="dl-icon-close"></i></a>
                        </div>
                    </div>
                </div>
                <div class="mx-4">
                    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
                        {% for product in products %}
                        <div class="airi-product">
                            <div class="product-inner">
                                <figure class="product-image">
                                    <div class="product-image--holder">
                                        <a href="/{{product.slug}}">
                                            <img src="{{product.product_image.url}}" alt="Product Image"
                                                class="w-16 h-44">
                                            <img src="{{product.second_image.url}}" alt="Product Image"
                                                class="secondary-image w-16 h-44">
                                        </a>
                                    </div>
                                    <!-- <div class="airi-product-action">
                                        <div class="product-action">
                                            <a class="add_to_cart_btn action-btn" href="cart.html"
                                                data-bs-toggle="tooltip" data-bs-placement="left" title=""
                                                data-bs-original-title="Add to Cart">
                                                <i class="dl-icon-cart29"></i>
                                            </a>
                                        </div>
                                    </div> -->
                                    <!-- <span class="product-badge new">New</span> -->
                                </figure>
                                <a href="/{{product.slug}}" class="mb-2">
                                    <p class="text-gray-900 pt-3 font-semibold line-clamp-custom">
                                        {{product.title}}
                                    </p>
                                    <span class="product-price-wrapper">
                                        <span class="money">₹{{product.price}}</span>
                                        <span class="product-price-old">
                                            <span class="money">₹{{product.before_discount_price}}</span>
                                        </span>
                                    </span>
                                    <p class="">
                                        {% for size in product.sizes_available.all %}
                                        <span class="text-gray-400">{{size.size}}</span>
                                        {% endfor %}
                                    </p>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}